*{
    padding: 0;
    margin: 0;
    background-color: #17152f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    background-color: #0b0a17;
    height: 80px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    background-color: #0b0a17;
    text-decoration: none;
    color: #fafafa;
    font-size: 18px;
    padding: 0 30px;
}
.logo{
    color: #fafafa;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}
nav a:hover{
    color: #cccccc;
}
