*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
nav{
    background-color: #0b0a17;
    height: 80px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    background-color: #0b0a17;
    text-decoration: none;
    color: #fafafa;
    font-size: 18px;
    padding: 0 30px;
}
.logo{
    color: #fafafa;
    font-weight: bold;
    font-size: 30px;
}
nav a:hover{
    color: white;
    background-color: #007BFF;
    border: 2px solid #007BFF;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.sign{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #238636;
    border: 2px solid #238636;
}
.sign:hover{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #5CBF7A;
    border: 2px solid #5CBF7A;
}
body{
    background-color: #17152f;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 120px;
}
.first-h1{
    color: #fafafa;
    display: flex;
    justify-content: center;
}
.para{
    color: #bab9c1;
    display: flex;
    height: auto;
    width: 251px;
}



